<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Basic</title>
    <style>
        .box{
            background-color: green;
            width: 200px;
            height: 200px;
        }
        .box.two {
                background-color: red;
            }
        .box.three {
            background-color: yellow;
        }

        [v-cloak] {
            display: none;
        }
        input {
            margin: 10px;
            display: block;
        }

    </style>
</head>
<body>
    <div id="app" v-cloak>
        <login-form/>

        <hr/>
        <button @click="toggleBox">Toggle Box</button>
        <div v-if="isVisible" class="box"></div>
        
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting: 'Hello Vue3 !',
                    isVisible: false
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                greet(greeting) {
                    console.log(greeting)
                }

            }
        })
        app.component('login-form', {
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1> {{ title }} </h1>
                    <custom-input type="email" :label="passwordLabel"/>
                    <custom-input type="password" :label="emailLabel"/>
                    <button>Log in</button>
                </form>
            `,   
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login Form',
                    email: '',
                    password: '',
                    emailLabel: 'Email',
                    passwordLabel: 'Password'
                }
            },
            methods: {
                handleSubmit() {
                    console.log(this.email, this.password)
                }
            }
        })
        app.component('custom-input', {
            template: `
                <label>
                    {{ label }}
                    <input type="text" v-model="inputValue">
                </label>
            `,
            props: ['label'],
            data() {
                return {
                    inputValue: ''
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>