<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Basic</title>
    <style>
        .box{
            background-color: green;
            width: 200px;
            height: 200px;
        }
        .box.two {
                background-color: red;
            }
        .box.three {
            background-color: yellow;
        }

        [v-cloack] {
            display: none;
        }

    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{ greeting }}
        <input v-model="greeting"/>
        <hr/>
        <div v-if="isVisible" class="box"></div>
        <div v-else-if="isVisible2" class="box two"></div>
        <div v-else class="box three"></div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting: 'Hello Vue3 !',
                    isVisible: false,
                    isVisible2: true
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>